<div class="animated fadeIn">
    
    <div class="row">
      
      <div class="col-md-12">
        
        <div class="card">
          <div class="card-header">
            <strong>{{tipoTela}}</strong> Relatório
          </div>
          <div class="card-body">
            <form [formGroup]="resourceForm">
                <div class="row">
                      <div class="form-group col-md-6">
                        <label for="nome">Conteúdo</label>
                        <input formControlName="conteudo" type="text" id="conteudo" name="conteudo" 
                        [ngClass]="{'is-valid': this.resourceForm.get('conteudo').value, 'is-invalid' : !this.resourceForm.get('conteudo').value }"
                        class="form-control" placeholder="Conteúdo" >
                        <div *ngIf="!this.resourceForm.get('conteudo').value" class="invalid-feedback">
                          Campo obrigatório
                        </div>
                      </div>
                      <div class="form-group col-md-6">
                        <label for="nome">Descrição</label>
                        <input formControlName="descricao" type="text" id="descricao" name="descricao" 
                        [ngClass]="{'is-valid': this.resourceForm.get('descricao').value, 'is-invalid' : !this.resourceForm.get('descricao').value }"
                        class="form-control" placeholder="Descrição" >
                        <div *ngIf="!this.resourceForm.get('descricao').value" class="invalid-feedback">
                          Campo obrigatório
                        </div>
                      </div>
                </div>
                <div class="row">
                      <div class="form-group col-md-6">
                        <label for="atividade">Atividade</label>
                        <select  class="form-control" id="idAtividade" formControlName="idAtividade" [ngClass]="{'is-valid': this.resourceForm.get('idAtividade').value, 'is-invalid' : !this.resourceForm.get('idAtividade').value }">
                          <option value="" selected disabled >Escolha uma atividade</option>
                          <option *ngFor="let atividade of resAtividades; index as i" [ngValue]="atividade.id">{{atividade.descricao}}</option>
                        </select>
                        <div *ngIf="!this.resourceForm.get('idAtividade').value" class="invalid-feedback">
                            Campo obrigatório
                        </div>
                    </div>
                  </div>

            </form>
          </div>
          <div class="card-footer">
            <button type="reset" class="btn btn-sm btn-danger" (click)="limpar()"><i class="fa fa-ban"></i> Limpar</button>
            <button *ngIf="this.tipoTela == 'Cadastrar'" (click)="salvar()" type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Cadastrar</button>
            <button *ngIf="this.tipoTela == 'Editar'"  (click)="atualizar()" type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Editar</button>
          </div>
        </div>

      </div><!--/.col-->
    </div><!--/.row-->

  </div>