<div class="animated fadeIn">
    
    <!-- <div class="row">
      
      <div class="col-md-12"> -->
        
        <div class="card">
          <div class="card-header">
            <strong>{{tipoTela}}</strong> Usuário
          </div>
          <div class="card-body">
            <form [formGroup]="resourceForm">
              <div class="row">
                <div class="form-group col-md-6">
                    <label for="nome">Nome</label>
                    <input formControlName="nome" type="text" id="nome" name="nome" 
                    [ngClass]="{'is-valid': this.resourceForm.get('nome').value, 'is-invalid' : !this.resourceForm.get('nome').value }"
                    class="form-control" placeholder="Nome" >
                    <div *ngIf="!this.resourceForm.get('nome').value" class="invalid-feedback">
                      Campo obrigatório
                    </div>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="login">Login</label>
                    <input formControlName="login" type="text" id="login" name="login" 
                    [ngClass]="{'is-valid': this.resourceForm.get('login').value, 'is-invalid' : !this.resourceForm.get('login').value }"
                    class="form-control" placeholder="Login" >
                    <div *ngIf="!this.resourceForm.get('login').value" class="invalid-feedback">
                      Campo obrigatório
                    </div>
                  </div>
              </div>
              <div class="row">
                  <div class="form-group col-md-6">
                      <label for="senha">Senha</label>
                      <input formControlName="senha" type="password" id="senha" name="senha"
                      class="form-control"
                      [ngClass]="{'is-valid': this.resourceForm.get('senha').value, 'is-invalid' : !this.resourceForm.get('senha').value }"
                      placeholder="*****" autocomplete="current-password">
                      <div *ngIf="!this.resourceForm.get('senha').value" class="invalid-feedback">
                        Campo obrigatório
                      </div>
                  </div>

                  <div class="form-group col-md-6">
                      <label for="perfil">Perfil</label>
                      <select  class="form-control" id="perfil" [(ngModel)]="perfilEscolhido" #perfil="ngModel">
                        <option value="" selected disabled >Escolha um perfil</option>
                        <option *ngFor="let perfil of resPerfis; index as i">{{perfil.descricao}}</option>
                      </select>
                      <div *ngIf="this.resourceForm.get('perfil').value == ''" class="invalid-feedback">
                          Campo obrigatório
                      </div>
                  </div>
              </div>



            </form>
          </div>
          <div class="card-footer">
            <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Limpar</button>
            <button *ngIf="this.tipoTela == 'Cadastrar'" (click)="salvar()" type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Cadastrar</button>
            <button *ngIf="this.tipoTela == 'Editar'"  (click)="atualizar()" type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Editar</button>
          </div>
        </div>

      <!-- </div> -->
      <!--/.col-->
    <!-- </div> -->
    <!--/.row-->

  </div>
  {{perfilEscolhido}}