<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

<div class="animated fadeIn">
    <div class="row">

      <!--/.col-->
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-align-justify"></i> Atividades
            <a [routerLink]="['../new']" class="btn btn-info float-right btn-sm">
              <i class="fa fa-plus" style="color:white"> Novo</i>
            </a>
          </div>
          <div class="card-body">
            <table datatable [dtOptions]="dtOptions" class="table table-striped" *ngIf='atividades && atividades.length'>
              <thead>
                <tr>
                  <th class="text-center">#</th>
                  <th class="text-center">Descrição</th>
                  <th class="text-center">Início</th>
                  <th class="text-center">Fim</th>
                  <th class="text-center">Ações</th>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let res of atividades; index as i">
                  <td class="text-center">
                    <small>{{i+1}}</small>
                  </td>
                  <td class="text-center">
                    <small>{{res.descricao}}</small>
                  </td>
                  <td class="text-center">
                    <small>{{res.dataInicio}}</small>
                  </td>
                  <td class="text-center">
                    <small>{{res.dataFim}}</small>
                  </td>
                  <td class="text-center">
                      <button [routerLink]="[res.id, 'edit']"
                        class="btn btn-outline-primary btn-sm mr-2 d-inline">
                        <i class="fa fa-edit"></i>
                      </button>
                      <button (click)="deleteResource(res)" class="btn btn-outline-danger btn-sm d-inline">
                        <i class="fa fa-trash"></i>
                      </button>
                  </td>
                </tr>
              </tbody>
      
            </table>

            <table datatable [dtOptions]="dtOptions" class="table table-striped" *ngIf='atividades.length == 0'>
              <thead class="thead-light">
                <tr>
                  <th class="text-center">#</th>
                  <th class="text-center">Descrição</th>
                  <th class="text-center">Início</th>
                  <th class="text-center">Fim</th>
                  <th class="text-center">Ações</th>
                </tr>
              </thead>
  
              <tbody>
                <tr class="odd"><td valign="top" colspan="5" class="dataTables_empty">Nenhum registro encontrado</td></tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>
      <!--/.col-->
    </div>
   
    <!--/.row-->
  </div>
  

